*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border;
}
html {
    scroll-behavior: smooth;
}
body {
    position: relative; 
    background-color: #333;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 16px;
}
.wrapper{
    max-width: 1100px;
    width: 80%;
    margin: 0 auto;
    color: black;
    text-align: center;
}
.nav-fix::before{
    display: block;
    content: "";
    height: 56px;
    margin-top: -56px;
}
.jumbotron{
    margin-bottom: 0;
    padding-bottom: 5px;
}
.underline{
    margin: 0 auto 40px;
    width: 100px;
    height: 3px;
    background-color: royalblue;
}
// Header style

