*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border;
}
html {
    scroll-behavior: smooth;
}
body {
    position: relative; 
    font-family: 'Raleway', sans-serif;
    background-color: #e9ecef;
    color: white;
    font-size: 16px;
}
.wrapper{
    max-width: 1100px;
    width: 80%;
    margin: 0 auto;
    color: black;
    text-align: center;
}
.jumbotron{
    width: 100vw;
    margin-bottom: 0;
    padding: 1.5rem 1rem;
}
.underline{
    margin: 0 auto 40px;
    width: 100px;
    height: 3px;
    background-color: royalblue;
}
// Fixing AOS problems on mobile
section{
    padding-top: 40px; // navbar scroling problem
    overflow-x: hidden;
    overflow: hidden;
}
footer{
    background-color: #122;
    p{
        font-size: 17px;
        padding: 8px;
        margin-bottom: 0;
        text-align: center;
    }
}

