.navbar{
    background-color: rgba(0,0,0, 0.9);
    .navbar-brand{
        margin-left: 10vw;
        font-family: 'Major Mono Display', monospace;
    }
}
.cv{
    text-decoration: none !important;
    padding: .5rem 0;
}
.link{
    color: white !important;
    transition: color .35s;
}
.link:hover{
    color: royalblue !important; 
}
@media (min-width: 992px){
    .cv{
        padding: .5rem;
    }
}