.navbar{
    // height: 70px
    background-color: rgba(0,0,0, 0.9);
    .navbar-brand{
        margin-left: 10vw;
        font-family: 'Major Mono Display', monospace;
    }
}
.link{
    color: white !important;
    transition: color .35s;
}
.link:hover{
    color: royalblue !important; 
}