.hero-project{
    position: absolute;
    left: 0 !important;
    bottom: 0 !important;
    padding: 0 20px;
    width: 100%;
    background-color: rgba(0, 0, 0, .85);
    h3{
        font-size: 22px;
        font-weight: bold;
    }
    p{
        margin-bottom: 4px;
    }
}
.icons{
    font-size: 24px;
    margin: 0 5px;
}
@media (min-width: 345px){
    .icons{
        font-size: 32px;
    }
}