nav{
    // height: 70px
    background-color: rgba(0,0,0, 0.8);
    .navbar-brand{
        margin-left: 10vw;
        font-size: 20px;
        font-family: 'Major Mono Display', monospace;
    }
    i{
        font-size: 25px;
        padding: 10px;
    }
    a, i{
        margin: 0 5px;
        color: white;
        transition: color .35s;
    }
    a:hover{
        color: royalblue;
    }
    .active{
        color: royalblue;
    }
}